/*@tailwind base;
@tailwind components;
@tailwind utilities;*/

#app {
    flex: 1;
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

:root {
    --primary-color: #211261;
    --secondary-color: #008aab;
    --accent-color: #3cb4e5;
    --light-blue: #a0d3e4;
    --white: #fff;
    --black: #000;
     /* Modo oscuro */
     --dark-primary-color: #1a1a1a;
     --dark-secondary-color: #008aab;
     --dark-accent-color: #121212;
     --dark-light-blue: #3a3a3a;
     --dark-text-color: #fff;
     --dark-table-hover-bg: #3a3a3a;
}

main {
    flex: 1;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: var(--accent-color);
    color: var(--black);
}
/* Modo oscuro */
body.dark {
    background-color: var(--dark-accent-color);
    color: var(--dark-text-color);
}

.navbar {
    background-color: var(--white);
    min-height: 80px;
}
/* Modo oscuro */
body.dark .navbar {
    background-color: var(--dark-primary-color);
}

.navbar-brand,
.navbar-nav .nav-link {
    color: var(--black) !important;
    font-size: 1.2rem;
}

.navbar-toggler {
    background: var(--black);
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='black' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.btn-primary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.btn-primary:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

/* Modo oscuro */
body.dark .btn-primary {
    background-color: var(--dark-secondary-color);
    border-color: var(--dark-secondary-color);
}

body.dark .btn-primary:hover {
    background-color: var(--dark-primary-color);
    border-color: var(--dark-primary-color);
}

.footer {
    background-color: var(--secondary-color);
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer h5,
.footer h6 {
    font-weight: bold;
}

.footer p {
    margin: 0;
}

.table tbody tr.row-light {
    background-color: #ffffff;
    color: #000;
}

.table tbody tr.row-blue {
    background-color: var(--light-blue);
    color: #000; 
}

.table tbody tr:hover {
    background-color: var(--accent-color) !important; 
    color: #fff;
}

/* Modo oscuro */
body.dark .table tbody tr.row-light {
    background-color: #333333; /* Fondo oscuro */
    color: var(--dark-text-color); /* Texto blanco */
}

body.dark .table tbody tr.row-blue {
    background-color: var(--dark-light-blue);
    color: var(--dark-text-color);
}

body.dark .table tbody tr:hover {
    background-color: var(--dark-table-hover-bg) !important;
    color: var(--dark-text-color);
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #ffffff;
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: var(--light-blue);
}

.table-hover tbody tr:hover {
    background-color: var(--accent-color);
    color: #ffffff;
}
