:root {
    --primary-color: #211261;
    --secondary-color: #008aab;
    --accent-color: #3cb4e5;
    --light-blue: #d6f5ff;
    --dark-primary-color: #1a1a1a; /* Color de fondo en oscuro */
    --dark-secondary-color: #008aab;
    --dark-accent-color: #121212; /* Color de fondo principal para modo oscuro */
    --dark-light-blue: #3a3a3a; /* Un azul oscuro para modo oscuro */
    --dark-text-color: #fff;
    --dark-table-hover-bg: #3a3a3a; /* Color de fondo de las filas al pasar el mouse */
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: var(--accent-color);
    color: #fff;
}

.navbar {
    background-color: var(--primary-color);
    min-height: 80px; 
}

.navbar-brand,
.navbar-nav .nav-link {
    color: #fff !important;
    font-size: 1.2rem; 
}

.navbar-toggler {
    color: #fff;
}

.btn-primary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.btn-primary:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.footer {
    background-color: var(--secondary-color);
    color: #fff;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer h5,
.footer h6 {
    font-weight: bold;
}

.footer p {
    margin: 0;
}

/* Modo oscuro */
body.dark .footer {
    background-color: var(--dark-primary-color);
    color: var(--dark-text-color);
}

body.dark .footer a {
    color: var(--dark-text-color);
}

body.dark .footer a:hover {
    text-decoration: underline;
}

.table tbody tr.row-light {
    background-color: #ffffff;
    color: #000;
}

.table tbody tr.row-blue {
    background-color: var(--light-blue);
    color: #000; 
}

.table tbody tr:hover {
    background-color: var(--accent-color) !important; 
    color: #fff;
}

